/*
Color Palette

  Game
    Ocean: #6D92B9
    Right answer: #E4FDE1
    Wrong Answer: #EF8275

  Grayscale:
    #6E6E6E
    #8A8A8A
    #999999
    #9E9E9E

*/

/* flex-direction
flex-wrap
flex-flow
justify-content
align-items
align-content
 */

table {
  margin: 0 auto;
}

main, footer {
  font-family: 'Azeret Mono', monospace;
}

h1 {
  display:flex;
  justify-content: space-around;
  font-family: "Fredoka One", cursive;
}

#controls {
  display:flex;
  justify-content: space-around;
}

/* To hid the answers before start */
td {
  visibility: hidden;
}

/* To deactivate buttons */
.unclickable {
  pointer-events: none;
}

/* Countries and other territories */
.land {
  fill: #6d92b9;
}

/* Ocean */
#ocean {
  fill: #6d92b9;
}
